html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #003e64;
}

/* splash screen css starts here  */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e4eff2 url("bdg.jpg") no-repeat center center;
    z-index: 99999;
}
/* splash screen css ends here  */

/* navbar css starts here  */
.bg-light{
    background-color: #00ffbccf!important;
}

.navbar-brand{
    font-family: 'Apple Chancery', cursive;
    font-size: 1.5rem;
    color: #5f6368!important;
}

.nav-link{
    color: #5f6368!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f1;
}
/* navbar css ends here  */

/* here content css starts here  */
.hero-content{
    border-top-left-radius: 10rem;
    border-top-right-radius: 12rem;
    height: 90vh;
    background-color: #0091d3d6;
    color: #9814d3;
    padding: 3rem;
    border-bottom-left-radius: 40rem;
    border-bottom-right-radius: 40rem;
    margin-bottom: 15vh;
}

.hero-img{
    height: 50vh;
    width: 100%;
    border-radius: 55px 0px 55px 0px;
    border-style: solid;
    border-color: black;
}
.h1, h1 {
    font-size: 2.5rem;
    color: #f7fe71;
    font-family: fantasy;
    
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    color:#e7f8f2;
}

@media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
}

.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    /* background-color: #fff; */
    color: #212529!important;
    transition: 0.3s;
    background-image: linear-gradient(to right, #a959c6, #00f135, #80d7ff);
    border-radius: 50px;
}

.get-started:hover{
    text-decoration: none;
    background-color: #bfdff0;

}
/* here content css starts here  */

/* get-started-buttons css starts here*/
.get-started-content{
    height: 60vh;
    background-color: #ff8a65;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row{
    padding: 25vh 0;
}

.get-started-content a{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #039be5;
    color: #fff!important;
    transition: 0.3s;
}

.get-started-content a:hover{
    background-color: #017ab6;
    text-decoration: none;
}
/* get-started-buttons css end here*/

/* footer css starts here */
footer{
    background-color:  #2e2e2e;
}

dl, ol, ul {
    margin-top: 0;
    color: aqua;
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github{
    color: #076e32f6;
}

.linkedin{
    color: #0077b5;
}

.google{
    color: #D44638;
}